*{
  margin:none;
  padding: none;
  box-sizing: border-box;
}

body{
  background-image: url("./Image/fondoo.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(0px);
}


.App-content {
  background-color: var(--theme-body-bg);
  color: var(--theme-body-txt);
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  padding: 16px;
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
